doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
// [if gt IE 8] <!
html.no-js(lang='en')
    // <![endif]
    head
        meta(property='canonical', content='frequencyculture.com')
        link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
        link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        link(rel='manifest', href='/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        include customHead

        //- bower:css
        link(rel="stylesheet", href="/bower_components/bootstrap.css")
        link(rel="stylesheet", href="/bower_components/font-awesome.css")
        link(rel="stylesheet", href="/bower_components/slick.css")
        link(rel="stylesheet", href="/bower_components/textAngular.css")
        //- endinject
        //- inject:css
        link(rel="stylesheet", href="/styles/ie8.css")
        link(rel="stylesheet", href="/styles/ie9.css")
        link(rel="stylesheet", href="/styles/main.css")
        //- endinject
        style(type="text/css").
            .landing-container {
                height: 105vh;
                width: 100vw;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding-top: 36px;
            }

            .landing-logo {
                height: 140px;
                width: auto;
            }

            .landing-list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                list-style: none;
                width: 360px;
                margin: 1em 0;
                position: relative;
            }

            .landing-list li {
                position: relative;
            }

            .landing-list li h1 {
                font-size: 1em;
                margin: 0;
                text-transform: uppercase;
                letter-spacing: 0.005rem;
                line-height: 2.8rem;
                position: relative;
            }

            .landing-list li span {
                position: absolute;
                right: -8px;
                top: 45%;
                height: 4px;
                width: 4px;
                border-radius: 50%;
                background-color: black;
            }

            .landing-image {
                width: 100%;
                height: 50vh;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('../images/kinetik_teaser.jpg');
            }

            .landing-text {
                margin: 1em 0;
                font-size: 1em;
                text-align: center;
                color: #414141;
                opacity: 0.8;
            }

            .landing-button {
                background: -webkit-linear-gradient(top left, #1F33AD, #802A97 85%);
                background: linear-gradient(to bottom right, #1F33AD, #802A97 85%);
                height: 64px;
                width: auto;
                padding: 10px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            }

            .landing-button:hover {
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }

            .landing-button h1 {
                font-size: 1.3em;
                color: white;
                margin: 0;
            }

            @media (max-width: 768px) {
                .landing-logo {
                    height: 90px;
                }

                .landing-list {
                    width: 235px;
                }

                .landing-image {
                    height: 280px;
                }
            }
    body(ng-app='freqCultureApp')
        #site-wrapper(ng-show="$root.showSite || $root.$state.includes('dashboard')")
            // Navbar
            navbar
            // <section-header></section-header>
            // Mobile Side Menu
            sidemenu
            // Main Content
            #site-content(ui-view='')
            // Audio Bar
            site-audio
            script(src='https://connect.soundcloud.com/sdk/sdk-3.1.2.js')
        site-modal
        site-footer(ng-show="$root.showSite")
        div(class="landing-container", ng-show="!$root.showSite && !$root.$state.includes('dashboard')")
            img(class="landing-logo", src="../images/kinetik_logo_purple.svg")
            ul(class="landing-list")
                li
                    h1 Sound
                        //span
                li
                    h1 Film
                        //span
                li
                    h1 Fashion
                        //span
                li
                    h1 Culture
            div(class="landing-image")
            h2(class="landing-text") Coming Soon...
            div(class="landing-button", ng-click="$root.showSignup()")
                h1 Stay Connected


        //- bower:js
        script(src="/bower_components/jquery.js")
        script(src="/bower_components/angular.js")
        script(src="/bower_components/angular-animate.js")
        script(src="/bower_components/angular-cookies.js")
        script(src="/bower_components/angular-local-storage.js")
        script(src="/bower_components/angular-resource.js")
        script(src="/bower_components/angular-slick.js")
        script(src="/bower_components/angular-touch.js")
        script(src="/bower_components/angular-ui-router.js")
        script(src="/bower_components/bootstrap.js")
        script(src="/bower_components/index.min.js")
        script(src="/bower_components/plangular.js")
        script(src="/bower_components/slick.js")
        script(src="/bower_components/textAngular-rangy.min.js")
        script(src="/bower_components/textAngular-sanitize.js")
        script(src="/bower_components/textAngular.js")
        script(src="/bower_components/textAngularSetup.js")
        //- endinject
        //- inject:js
        script(src="/app.js")
        script(src="/scripts/services/user.service.js")
        script(src="/scripts/services/signup.service.js")
        script(src="/scripts/services/modal.service.js")
        script(src="/scripts/services/content.service.js")
        script(src="/scripts/services/admin.service.js")
        script(src="/scripts/directives/site-modal.directive.js")
        script(src="/scripts/directives/site-footer.directive.js")
        script(src="/scripts/directives/site-audio.directive.js")
        script(src="/scripts/directives/side-menu.directive.js")
        script(src="/scripts/directives/section-header.directive.js")
        script(src="/scripts/directives/navbar.directive.js")
        script(src="/scripts/directives/loginModal.controller.js")
        script(src="/scripts/directives/image-shadow.js")
        script(src="/scripts/directives/hamburger-menu.directive.js")
        script(src="/scripts/directives/content-header.directive.js")
        script(src="/scripts/directives/content-container.directive.js")
        script(src="/scripts/routes/view-content.controller.js")
        script(src="/scripts/routes/main-section.controller.js")
        script(src="/scripts/routes/home.controller.js")
        script(src="/scripts/routes/dashboard.controller.js")
        script(src="/scripts/routes/dashboard.content.controller.js")
        script(src="/scripts/routes/admin.controller.js")
        script(src="/scripts/config/routes.js")
        script(src="/scripts/config/config.js")
        script(src="/scripts/config/appRun.js")
        //- endinject
        script.
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
                r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
            }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-86913725-1', 'auto');
            ga('send', 'pageview');
